{% extends 'layout_company.html.twig' %}

{% block title %}
    Profil - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
    <h3 class="text-center pt-3 my-lg-5">Profil</h3>
    <div class="container">
        <div class="main-body d-flex">

            <div class="me-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://www.mcicon.com/wp-content/uploads/2020/12/Education_Student_1-copy-8.jpg" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ user.firstname ~ ' ' ~ user.lastname }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.firstname ~ ' ' ~ user.lastname }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Téléphone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.phone }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Niveau d'étude</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.student.level ?? "Non défini" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">CV</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.student.resumeFile ?? "Non défini" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Lettre de motivation</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.student.coverLetterFile ?? "Non défini" }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Anniversaire</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {% if user.student.birthdate is defined %}
                                    {{ user.student.birthdate|date("d/m/Y") }}
                                {% else %}
                                    Non défini
                                {% endif %}
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('student_edit') }}" class="btn btn-primary btn-lg w-25 mt-4">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
