{% extends 'layout_company.html.twig' %}

{% block title %}
    Profil -
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
    <h3 class="text-center pt-3 my-lg-5">Profil</h3>
    <div class="container">
        <div class="main-body">
            <div class="col-sm-10 w-100">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Profil</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Étudiant
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom complet</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.firstname ~ ' ' ~ user.lastname }}
                            </div>
                        </div>
                        <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Téléphone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.phone }}
                                </div>
                            </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Niveau d'étude</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.student.level ?? "À renseigner" }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">

                                <h6 class="mb-0">Date de naissance</h6>

                            </div>
                            <div class="col-sm-9 text-secondary">
                                {% if user.student.birthdate is defined %}
                                    {{ user.student.birthdate|date("d/m/Y") }}
                                {% else %}
                                    À renseigner
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">CV (format .pdf)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {% if user.student.resume %}
                                    <a target="_blank" href="/uploads/resumes/{{ user.student.resume }}">CV</a>
                                {% else %}
                                    À renseigner
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Lettre de motivation (format .pdf)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {% if user.student.coverLetter %}
                                    <a target="_blank" href="/uploads/coverLetters/{{ user.student.coverLetter }}">Lettre de motivation</a>
                                {% else %}
                                    À renseigner
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Domaine d'etude</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.student.studyField.studyFieldName ?? "À renseigner" }}
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <a href="{{ path('student_edit') }}" class="btn btn-primary btn-lg w-25 px-1 mt-4">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}