{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}
    - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('adminJob') }}
{% endblock %}

{% block body %}
    <header class="d-flex justify-content-center align-items-center pb-3">
        <img src="{{ asset('build/images/pexels-fauxels-3182757.jpg') }}" alt"plusieurs personnes travaillant ensemble (photo de fauxels provenant de pexels">
        <h1 class="justify-content-center">Student Interim</h1>
    </header>

    <h2 class="m-3 d-flex justify-content-center pt-5">Nos dernières annonces</h2>
    <section class="adminOffre pb-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                {% for job in jobs %}
                    <div class=" col-lg-3 mx-5 data-card">
                        <h2 class="pb-2 text-center d-flex align-items-center justify-content-center">{{ job.post|upper }}</h2>
                        <h3 class="post mt-2 text-center">
                            <i class="fas fa-industry"></i>
                            {{ job.company.companyName|upper }}</h3>
                        <h3 class="postalCode mb-3 pb-2 text-center">
                            <i class="fas fa-map-marker-alt"></i>
                            {{ job.city|capitalize }}
                            ({{ job.postalCode }})
                        </h3>
                        <p>{{ job.description }}</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="postuler btn btn-light text-center">Postuler</a>
                        </div>
                        <h4 class="mt-2 text-center">
                            <i class="fas fa-table"></i>
                            Postée le :
                            {{ job.registeredAt ? job.registeredAt|date('Y-m-d') : '' }}</h4>
                    </div>
                {% else %}
                    <p class="alert alert-warning text-center bg-primary text-light">Aucune offre d'emploi</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <img class="banner pt-5" src="{{ asset('build/images/pexels-fauxels-3183150.jpg') }}" alt"plusieurs personnes travaillant ensemble (photo de fauxels provenant de pexels">
    <div class="container">
        <h2 class="m-3 d-flex justify-content-center pt-5">Nos valeurs</h2>
        <p>
            Rapide description de la société, de ses valeurs (à définir par le client).
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        </p>
        <h2 class="m-3 d-flex justify-content-center">Nos services</h2>
        <p>
            Rapide description des services proposées par la société (à définir par le client).
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        </p>
        <div class="d-flex pb-5 justify-content-center">
            <a class="btn btn-secondary text-light" href="{{ path('company_quotation') }}">Demander un devis</a>
        </div>
    </div>
{% endblock %}
