{% extends 'layout.html.twig' %}

{% block title %}
    Tarifs -
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminJob') }}
{% endblock %}

{% block body %}
    <section class="container-fluid adminOffre">
        <div class="row d-flex justify-content-center mx-1">
            <h3 class="text-center my-3">Grille tarifaire</h3>
            <div class="row pb-3 d-flex justify-content-center">
                <div class=" col-lg-3 data-card">
                    <h2 class="text-center d-flex align-items-center justify-content-center">Poster une annonce</h2>
                    <h3 class="post text-center mb-5">
                        120.00
                        <i class="fas fa-euro-sign"></i>
                    </h3>
                    <p>Cette offre vous donne accès au fait de pouvoir poster 1 annonce. Ajoutez votre pierre à l'édifice en permettant aux étudiants de prendre connaissance de votre entreprise.</p>
                </div>
                <div class=" col-lg-3 data-card">
                    <h2 class="pb-2 text-center d-flex align-items-center justify-content-center">Pack 10 annonces</h2>
                    <h3 class="post mt-2 text-center mb-5">
                        800.00
                        <i class="fas fa-euro-sign"></i>
                    </h3>
                    <p>Cette offre vous donne accès au fait de pouvoir poster 10 annonces en profitant d'une réduction générale du prix.</p>
                </div>
                <div class=" col-lg-3 data-card">
                    <h2 class="pb-2 text-center d-flex align-items-center justify-content-center">Abonnement</h2>
                    <h3 class="post mt-2 text-center mb-5">
                        650.00
                        <i class="fas fa-euro-sign"></i>
                        par mois
                    </h3>
                    <p>Cette offre vous donne accès au fait de pouvoir poster un nombre illimité d'annonces sur notre site durant toute la durée effective de l'abonnement.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="m-3 text-center mt-5">Placement des étudiants dans les entreprises</h2>
            <div class="row mb-4 mb-lg-5">
                <div class="col-5 mb-lg-3 align-self-center">
                    <img class="d-none d-lg-block img-fluid rounded shadow-lg mb-3" src="{{ asset('build/images/contrat.jpg') }}" alt="Deux personnes assises l'une à côté de l'autre, devant une table avec des papiers à signer">
                </div>
                <div class="col-12 col-lg-7 mb-lg-3 px-5">
                    <ul class="list-unstyled">
                        <li class="pb-2">Vous avez besoin d’un étudiant rapidement ?</li>
                        <li class="pb-1">Student Intérim vous offre la possibilité de recruter rapidement des étudiants compétents dont le cursus d’étude est en cohérence avec votre entreprise. Avec cette offre, vous ne vous occupez de rien !</li>
                        <li class="pb-1">Sourcing, entretien, contrats : on s’occupe de tout (missions ponctuelles, jobs d’été, temps partiels..) !</li>
                        <li class="pb-1">Notre marge commerciale est de 2 000€, ajouté à cela, vous payerez un coefficient de facturation de 1,9% par rapport au salaire de l’étudiant.</li>
                    </ul>
                </div>
                {% if is_granted('ROLE_COMPANY') %}
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('company_quotation') }}" class="postuler btn btn-primary text-center">Je veux un devis</a>
                    </div>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('company_quotation') }}" class="postuler btn btn-primary text-center">Je veux un devis</a>
                    </div>
                {% elseif is_granted('ROLE_STUDENT') %}
                {% else %}
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('app_register') }}" class="postuler btn btn-lg btn-primary text-center">Je veux un devis</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="m-3 text-center">Recruter le profil idéal pour votre entreprise</h2>
            <div class="row">
                <div class="col-12 col-lg-7 mb-lg-3 px-5  d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled">
                        <li>Vous cherchez à recruter ? Premiers emplois, stages, alternances.</li>
                        <li>Student Interim sollicite son réseau d’étudiants pour vous ! Nous cherchons et trouvons des candidats qui correspondent à votre besoin.</li>
                        <li>Nous prenons de 12% à 15% du salaire annuel de l’étudiant recruté.</li>
                    </ul>
                </div>
                <div class="col-lg-5 align-self-center pb-2">
                    <img class="d-none d-lg-block img-fluid rounded shadow-lg" src="{{ asset('build/images/recrutement.jpg') }}" alt="Trois personnes discutent autour d'une table">
                </div>
            </div>
            <div class="d-flex justify-content-center pb-3 mt-5">
                <a href="{{ path('contact') }}" class="postuler btn btn-lg btn-primary text-center">Nous contacter</a>
            </div>
        </div>
    </section>
{% endblock %}
