{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('adminJob') }}
{% endblock %}

{% block body %}
	<section class="adminOffre">
		<div class="container">
			<h1 class="text-center mt-3">Offres d'emploi</h1>
			<div class="d-flex justify-content-center">
				<select class="form-select form-select-lg mb-3 w-75" aria-label=".form-select-lg example">
					<option selected>Domaine d'études</option>
					<option value="1">Général (c’est-à-dire tous les job étudiants classique)</option>
					<option value="2">Droit</option>
					<option value="3">Economie</option>
					<option value="4">Gestion</option>
					<option value="5">STAPS (Sciences Techniques des Activités Physiques et Sportives)</option>
					<option value="6">Biologie</option>
					<option value="7">Chimie</option>
					<option value="8">Informatique</option>
					<option value="9">Mathématiques</option>
					<option value="10">Physique</option>
					<option value="11">Histoire</option>
					<option value="12">Langues</option>
					<option value="13">Lettres</option>
					<option value="14">Géographie et Aménagement</option>
					<option value="15">Polytech</option>
					<option value="16">Médecine</option>
					<option value="17">MEEF (métiers de l’enseignement de l’éducation et de la formation)</option>
				</select>
			</div>
			<div class="row d-flex justify-content-center">
				{% for job in jobs %}
					<div class=" col-lg-3 data-card">
						<h2 class="pb-2 text-center">{{ job.post|upper }}</h2>
						<h3 class="post mt-2 text-center">{{ job.company.companyName|upper }}</h3>
						<h3 class="postalCode mb-3 pb-2 text-center">{{ job.postalCode }}
							:
							{{ job.city|capitalize }}</h3>
						<p>{{ job.description }}</p>
						<div class="d-flex justify-content-center">
							<a href="#" class="btn btn-light text-center">Postuler</a>
						</div>
						<h4 class="mt-2 text-center">Postez-le :
							{{ job.registeredAt ? job.registeredAt|date('Y-m-d') : '' }}</h4>
					</div>
				{% else %}
					<p class="alert alert-warning text-center bg-primary text-light">Aucune offre d'emploi</p>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
