{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h2 class="ms-3 pt-3">Réinitialiser votre mot de passe</h2>
        <div class="ms-3 pt-3">
            {{ form_start(requestForm) }}
        </div>
        <div class="ms-3 pt-3">
            {{ form_row(requestForm.email) }}
        </div>
        <div>
            <small class="ms-3 pt-3">
                Veuillez entrer votre adresse email. Nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>
        <button class="ms-3 mt-3 btn btn-primary">Envoyer le mail de réinitialisation</button>
        {{ form_end(requestForm) }}
{% endblock %}
