{% extends 'layout_student.html.twig' %}

{% block title %}
    Détail de l'offre - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center mt-5 pt-3 text-primary">{{ job.post }}</h3>
        <h4 class="text-center pt-2  text-primary mb-3">
            {{ job.company.companyName }}
        </h4>
        <h5 class="postalCode pb-2 text-center mb-5 text-secondary">
            {{ job.studyField.studyFieldName }}</h4>
        <div class="text-left">
            <h5>Votre mission :</h5>
            <p class="mb-5">{{ job.description }}</p>
        </div>
        <div class="card text-center pb-2 mb-3">
            <div class="card-header text-muted">
                <i class="fas fa-table"></i>
                Postée le {{ job.registeredAt ? job.registeredAt|date('d/m/Y') : '' }}
            </div>
            <div class="card-body">
                <div class="row pt-3">
                    <div class="col list-unstyled"
                        <ul>
                            <li class="text-muted">Date de début de mission</li>
                            <li>{{ job.startAt ? job.startAt|date('d/m/Y') : '' }}</li>
                            <li class="text-muted">Date de fin de mission</li>
                            <li>{{ job.endAt ? job.endAt|date('d/m/Y') : '' }}</li>
                        </ul>
                    </div>
                    <div class="col list-unstyled"
                        <ul>
                            <li class="text-muted">
                                <i class="fas fa-map-marker-alt text-primary"></i>
                                Localisation
                            </li>
                            <li>{{ job.city }} ({{ job.postalCode }})</li>
                            <li class="text-muted">Heures par semaine</li>
                            <li>{{ job.hoursAWeek }}</li>
                        </ul>
                    </div>
                </div>
                {% if is_granted('ROLE_STUDENT') %}
                    <a href="{{ path('student_postulate', {'job': job.id}) }}" class="btn btn-primary btn-lg w-25 mt-4">Postuler</a>
                {% else %}
                    <button href="#" class="btn btn-dark text-light btn-lg w-25 mt-4" disabled>Postuler</button>
                {% endif %}
            </div>
        </div>
        <div class="form-group col pt-5 col-lg-6 col-md-12 mx-auto mb-5 text-center">
            <a class="btn btn-primary btn-lg w-50" href="{{ path('offer') }}">← Retour à la liste des offres</a>
        </div>
    </div>
{% endblock %}
