{% extends 'layout_admin.html.twig' %}

{% block title %}
    {{ parent() }}
    - Liste des entreprises
{% endblock %}

{% block body %}
    <section class="adminOffre">
        <div class="container">
            <h3 class="text-center mt-3">Liste des comptes Entreprises</h3>
            <div class="row my-3">
                <div class="col-lg-2">
                    <a class="btn btn-primary dropdown-toggle ms-5 me-5 text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Trier par
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                {% for company in companies %}
                    {% if company.user is not null %}
                        <div class=" col-lg-3 data-card text-center">
                            <h2 class="pb-2 d-flex align-items-center justify-content-center">{{ company.companyName|upper }}</h2>
                            <h3 class="mt-2"><i class="fas fa-university"></i>
                                {{ company.socialReason|upper }}</h3>
                            <h3 class="mb-3">
                                <i class="fas fa-user-alt"></i>
                                {{ company.user.firstname ~ ' ' ~ company.user.lastname|upper }}</h3>
                            <h3 class="mb-3">
                                <i class="fas fa-phone-square-alt"></i>
                                {{ company.user.phone }}</h3>
                            <h4 class="mb-3"><i class="fas fa-envelope"></i> {{ company.user.email }}</h4>
                            <form method="post" action="#" onsubmit="return confirm('Êtes-vous sûr vouloir supprimer cet élément ?');" class="post mb-3 text-center">
                                <input type="hidden" name="_token" value="#">
                                <button class="delete btn">Supprimer</button>
                            </form>
                            <h4 class="mt-">Siret :
                                {{ company.siret }}</h4>
                        </div>
                    {% endif %}
                {% else %}
                    <p class="alert alert-warning text-center bg-primary text-light">Aucun compte Entreprise</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
