{% extends 'layout_admin.html.twig' %}

{% block title %}
    {{ parent() }}
    - Liste des entreprises
{% endblock %}

{% block body %}
    <section class="adminOffre">
        <div class="container">
            <h3 class="text-center mt-3">Liste des comptes Entreprises</h3>
            <div class="my-3 d-flex justify-content-center">
                {{ form_start(form) }}
                <div class="d-flex">
                    {{ form_row(form.searchQuery, {'attr': {'class': 'form-control'}}) }}
                    <button type"submit" class="btn btn-primary mx-1">Rechercher</button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="row d-flex justify-content-center">
                {% for company in companies %}
                    {% if company.user is not null %}
                        <div class=" col-lg-3 data-card text-center">
                            
                            <h2 class="pb-2 d-flex align-items-center justify-content-center">{{ company.companyName|upper }}</h2>
                            <h3 class="mt-2">Raison sociale : {{ company.socialReason|upper }}</h3>
                            <h3 class="mb-3 pb-2">Contact : {{ company.user.firstname ~ ' ' ~ company.user.lastname|upper }}</h3>

                            <table>
                                <tr>
                                    <td>Téléphone :
                                    </td>
                                    <td>{{ company.user.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Email :
                                    </td>
                                    <td>{{ company.user.email }}</td>
                                </tr>
                            </table>
                            <h3>Siret :
                                {{ company.siret }}</h3>
                        </div>
                    {% endif %}
                {% else %}
                    <p class="alert alert-warning text-center bg-primary text-light">Aucun compte Entreprise</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
