{% extends 'layout_admin.html.twig' %}

{% block body %}
    <section class="adminOffre">
        <div class="container">
            <h1 class="text-center mt-3">Offres d'emploi</h1>
            <div class="row my-3">
                <div class="col-lg-2">
                    <a class="btn btn-primary dropdown-toggle ms-5 me-5 text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Trier par
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 d-flex justify-content-center">
                    <form class="form-inline mt-3 d-flex justify-content-start">
                        <input class="form-control mr-sm-2 text-center" type="search" placeholder="Rechercher " aria-label="Search">
                    </form>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                {% for job in jobs %}
                    <div class=" col-lg-3 data-card">


                        <h2 class="pb-2 text-center d-flex align-items-center justify-content-center">{{ job.post|upper }}</h2>
                        <h3 class="post mt-2 text-center">
                            <i class="fas fa-industry"></i>
                            {{ job.company.companyName|upper }}</h3>
                        <h3 class="postalCode mb-3 pb-2 text-center">
                            <i class="fas fa-map-marker-alt"></i>
                            {{ job.city|capitalize }}
                            ({{ job.postalCode }})

                        </h3>
                        <p>{{ job.description }}</p>
                        <form method="post" action="{{ path('admin_job_delete', {'id': job.id}) }}" onsubmit="return confirm('Êtes-vous sûr vouloir supprimer cet élément ?');" class="post mt-2 text-center">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
                            <a href="{{ path('admin_job_edit', {'id': job.id}) }}" class="update btn btn-light">Modifier</a>
                            <button class="delete btn">Supprimer</button>
                        </form>
                        <h4 class="mt-2 text-center">
                            <i class="fas fa-table"></i>

                            Postée le :
                            {{ job.registeredAt ? job.registeredAt|date('Y-m-d') : '' }}</h4>
                    </div>
                {% else %}
                    <p class="alert alert-warning text-center bg-primary text-light">Aucune offre d'emploi</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
