{% extends 'layout_company.html.twig' %}

{% block title %}Profil - {{ parent() }}{% endblock %}

{% block body %}
    <h3 class="text-center pt-3 pb-3 my-lg-5">Profil</h3>
    <div class="card container-fluid text-center pb-2 mb-5 w-75">
        <div class="card-body">
            <div class="row pt-3">
                <div class="col list-unstyled"
                    <ul>
                        <li class="text-muted">
                            <i class="fas fa-industry"></i>
                            Nom de la société
                        </li>
                        <li>{{ company.companyName ?? "Compte" }}</li>
                        <li class="text-muted">
                            <i class="fas fa-user-alt"></i>
                            Contact
                        </li>
                        <li>{{ user.firstname ~ ' ' ~ user.lastname }}</li>
                        <li class="text-muted">
                            <i class="fas fa-envelope"></i>
                            Email
                        </li>
                        <li>{{ user.email }}</li>
                    </ul>
                </div>
                <div class="col list-unstyled"
                    <ul>
                        <li class="text-muted">
                            <i class="fas fa-university"></i>
                            Raison sociale
                        </li>
                        <li>{{ company.socialReason ?? "Non defini" }}</li>
                        <li class="text-muted">
                            <i class="fas fa-info"></i>
                            Siret
                        </li>
                        <li>{{ company.siret ?? "Non defini" }}</li>
                        <li class="text-muted">
                            <i class="fas fa-phone-square-alt"></i>
                            Téléphone
                        </li>
                        <li>{{ user.phone }}</li>
                    </ul>
                </div>
            </div>
            <a href="{{ path('company_edit') }}" class="btn btn-primary btn-lg w-25 mt-4">Modifier</a>
        </div>
    </div>
{% endblock %}