{% extends 'layout_company.html.twig' %}

{% block title %}
    Profil -
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
    <h3 class="text-center pt-3 my-lg-5">Profil</h3>
    <div class="container">
        <div class="main-body">
            <div class="col-sm-10 w-100">
                <div class="card h-100">
                    <div class="card-body">
                    <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Entreprise</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ company.companyName ?? "À renseigner" }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.firstname ~ ' ' ~ user.lastname }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Téléphone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.phone }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Numero siret</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ company.siret ?? "À renseigner" }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Raison sociale</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ company.socialReason ?? "À renseigner" }}
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('company_edit') }}" class="btn btn-primary btn-lg w-25 px-1 mt-4">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
