<!-- Footer -->
<footer class="bg-secondary text-center text-white">
	<!-- Grid container -->
	<div class="container pt-3">
		<!--Grid row-->
		<div class="row py-3">
			<!--Grid column-->
			<div class="col-lg-4 col-md-6 mb-4 mb-md-0">

				<!-- Section: Social media -->
				<section class="d-flex justify-content-around">

					<!-- Facebook -->
					<a class="m-1" href="https://www.facebook.com/studentinterim" role="button">
						<img src="{{ asset('build/images/facebook.png') }}" alt="logo facebook">
					</a>

					<!-- Instagram -->
					<a class="m-1" href="https://www.instagram.com/studentinterim/" role="button">
						<img src="{{ asset('build/images/insta.png') }}" alt="logo instagram">
					</a>

					<!-- Linkedin -->
					<a class="m-1" href="https://www.linkedin.com/company/student-int%C3%A9rim" role="button">
						<img src="{{ asset('build/images/linkedin.png') }}" alt="logo linkedin">
					</a>

					<!-- Youtube -->
					<a class="m-1" href="https://www.youtube.com/channel/UCRDTprHHajluvIqvD6bwQIg/about" role="button">
						<img src="{{ asset('build/images/youtube.png') }}" alt="logo youtube">
					</a>
				</section>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-4 col-md-6 mb-4 mb-md-0 pt-2">
				<!-- List: Links -->
				<ul class="list-unstyled mb-0">
					<li class="pb-3 d-flex flex-column">
						<a href="{{ path('contact') }}" class="text-white border border-white text-decoration-none mx-5 rounded-2 foot-link">Nous contacter</a>
                        <a href="{{ path('legal_notice_index') }}" class="text-white border border-white text-decoration-none mx-5 mt-3 rounded-2 foot-link">Mentions légales</a>
					</li>
				</ul>
                <!-- List: Links -->
			</div>
            <!--Grid column-->
		    <div class="col-lg-4 col-md-6 mb-4 mb-md-0 pt-2">
			    <!-- Section: Adresse -->
			    <p>Siège social :</p>
			    <p>45000 Orléans</p>
			    <!-- Section: Adresse -->
		    </div>
		    <!--Grid column-->
		</div>
	</div>
</footer>
