<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <img src="{{ asset('build/images/logo.png') }}" alt="logo" class="navbar-logo logo">
    <div class="collapse navbar-collapse justify-content-around nav-style" id="navbarNavAltMarkup">
        <ul class="navbar-nav navlinks">
            <li class="nav-item">
                <a class="nav-link ms-5 me-5 active" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-5 me-5" href= "{{ path('offer') }}" >Offres</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ms-5 me-5 active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Inscription
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Étudiant</a></li>
                    <li><a class="dropdown-item" href="#">Entreprise</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-5 me-5" href= "{{ path('app_login') }}" >Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-5 me-5 active" href="{{ path('contact') }}">Contact</a>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler hidden-md-up pull-left " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
    