{% extends 'layout.html.twig' %}

{% block title %}Mentions légales
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminJob') }}
{% endblock %}

{% block body %}
    <section class="container-fluid">

        <h2 class="text-center">Mentions légales</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="pb-5 col pt-3 col-lg-6 col-md-12 mx-auto text-center">
                <a href="{{ path('legal_notice_new') }}" class="delete btn bg-primary text-light btn-lg w-100">Ajouter</a>
            </div>
        {% endif %}
        {% for legal_notice in legal_notices %}
            <h3>{{ legal_notice.title }}</h3>
            <p>{{ legal_notice.text }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="pb-5 col pt-3 col-lg-6 col-md-12 mx-auto">
                    <a href="{{ path('legal_notice_edit', {'id': legal_notice.id}) }}" class="update btn btn-light bg-secondary text-light btn-lg w-100 mb-1">Modifier</a>
                    {{ include('legal_notice/_delete_form.html.twig') }}
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}
