{% extends 'layout.html.twig' %}

{% block title %}Mentions légales - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminJob') }}
{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h3 class="text-center pt-4 pb-3">Mentions légales</h3>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col pt-5 col-lg-6 col-md-12 mx-auto text-center">
                <a href="{{ path('legal_notice_new') }}" class="delete btn bg-primary text-light btn-lg w-100">+ Ajouter une mention</a>
            </div>
        {% endif %}
        {% for legal_notice in legal_notices %}
            <h2 class="m-3 pt-5">{{ legal_notice.title }}</h2>
            <p>{{ legal_notice.text }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="pb-5 col pt-3 col-lg-6 col-md-12 mx-auto">
                    <a href="{{ path('legal_notice_edit', {'id': legal_notice.id}) }}" class="update btn btn-light bg-secondary text-light btn-lg w-100 mb-1">Modifier</a>
                    {{ include('legal_notice/_delete_form.html.twig') }}
                </div>
            {% endif %}
        {% endfor %}
        <h2 class="m-3 pt-5">Crédit icônes</h2>
        <p>Font awesome (<a href="https://fontawesome.com/license" class="text-secondary">découvrir par ici →</a>)</p>
    </section>
{% endblock %}
