{% extends 'email/layoutEmail.html.twig' %}

{% block title %}Demande de contact - {{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h2>Nouvelle demande de contact</h2>
    <p>Bonjour, {{ contact.firstname ~ ' ' ~ contact.lastname }} a demandé à être recontacté(e).</p>
    <table style="border: 0;">
        <tr>
            <td>Personne à contacter : </td>
            <td>{{ contact.firstname ~ ' ' ~ contact.lastname }}</td>
        </tr>
        <tr>
            <td>Adresse mail: </td>
            <td>{{ contact.email }}</td>
        </tr>
    </table>
    <p>Message : {{ contact.message }}</p>
{% endblock %}